/*_____________________________________________________________
|
|   Quelltext zum Buch "Workshop HTML5 & CSS3"
|   Verlag:     dpunkt.verlag GmbH
|   Copyright:  2012 Stephan Heller <heller@h5c3.de>
|   Lizenz:     GNU General Public License
|   Verwendung der Quelltexte ausdrücklich gestattet und gewünscht!
|   Weitere Quelltexte finden Sie unter http://www.h5c3.de
|_______________________________________________________________ */

/***************************
* Anweisungen für den Entwicklungsprozess
***************************/

/***************************
* Übergreifende Formate
***************************/
* {
    font-family: verdana, sans-serif;
    color: #222;
}
body {
    width: 940px;
    margin: auto;
    font-size: 75%;
}
.float-ende {
    clear: both;
}
h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin-top: 0px;
    margin-bottom: 20px;
}
h1 {
    font-size: 20px;
    font-weight: 400;
}
h2 {
    font-size: 18px;
    font-weight: 400;
}
h3 {
    font-size: 16px;
    font-weight: 400;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 13px;
}
h6 {
    font-size: 12px;
}
blockquote {
    font-style: italic;
    font-size: 14px;
}
ol {
    padding-left: 25px;
}
ul {
    padding-left: 20px;
}
figure {
    margin-left: 0px;
}
figcaption {
    font-size: 11px;
}
abbr {
    border-bottom: 1px dashed #999;
    cursor: help;
}

/***************************
* Kopf
***************************/
#kopf {
    padding-top: 65px;
    background-image: url('../img/hg-kopf-punkte.png');
    background-repeat:  repeat-x;
}
#logo {
    float: left;
}
#kopf nav.meta-navigation {
    float: right;
}
#kopf-unten {
    margin-top: 15px;
}
#key-visual {
    float: right;
}

/***************************
* Navigation
***************************/

/* Haupt- und Inhaltsnavigation */
#navigation-inhalt,
#navigation {
    float: left;
    padding: 15px;
    background-image: url('../img/hg-punkt.png');
    font-size: 12px; /* Schriftgröße wird für den IE benötigt - der IE erbt diese nicht korrekt */
} 
#navigation-inhalt ul,
#navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    min-height: 133px;
    width: 165px;
    background-color: white;
    line-height: 1em; /* Nicht im Buch, wird jedoch benötigt */
}
#navigation-inhalt ul li a,
#navigation ul li a {
    display: block;
    text-transform: uppercase;
    margin-bottom: 3px;
    text-decoration: none;
    padding: 2px;
    -moz-transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
#navigation-inhalt ul li a:hover,
#navigation-inhalt a:focus,
#navigation-inhalt ul li a.auswahl,
#navigation ul li a:hover,
#navigation ul li a:focus,
#navigation ul li a.auswahl {
    color: white;
    background-color: #cc1511;
}

/* Meta- und Drucknavigation */
#druck,
.meta-navigation {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    background-color: #cc1511;
}
#druck ul,
.meta-navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#druck ul {
    margin-left: 10px;
}
#druck ul li,
.meta-navigation ul li {
    float: left;
}
#druck ul li a, 
.meta-navigation ul li a {
    text-decoration: none;
    display: block;
    color: white;   
    border-left: 2px solid white;
    padding: 4px 5px 3px 5px;
    -moz-transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
/* spezielle Angabe für Firefox - dieser stellt die Höhe der Listenpunkte leicht abweichend dar. */
#druck ul li a, 
.meta-navigation ul li a, x:-moz-broken {
    padding: 3px 5px 2px 5px;
}
#druck ul li a:hover,
#druck ul li a:focus,
#druck ul li a.auswahl,
.meta-navigation ul li a:hover,
.meta-navigation ul li a:focus,
.meta-navigation ul li a.auswahl {
    color: #cc1511;
    background-color: white;
}
#druck ul li:first-child a,
.meta-navigation ul li:first-child a {
    border-left: 0px;
}

/***************************
* Inhalt
***************************/
#inhalt {
    margin-top: 25px;
    min-height: 150px;
    font-size: 12px; /* Schriftgröße wird für den IE benötigt - der IE erbt diese nicht korrekt */
}
#inhalt.startseite {
    margin-top: 0px;
}

/* Start bzw. Teaserseite */
.teaser {
    padding: 15px;
    width: 428px;
    float: left;
    margin-top: 25px;
    background-image: url('../img/hg-punkt.png');
}
.teaser-rechts {
    float: right;
}
/* Alternative Schreibweise: Neuer Selektor in CSS3 - wird nicht vom IE8 untersützt */
.teaser:nth-child(even) {
    float: right;
}
/* Nicht im Buch - damit die linken Teaser auf der gleichen Höhe wie die rechten stehen
   wird das float: right aufgelöst */
.teaser:nth-child(odd) {
    clear: left;
}
.teaser section  {
    min-height: 180px;
    background-color: white;
    padding: 10px 10px 1px 10px ;
}
.teaser h1 {
    font-size: 18px;
    margin-bottom: 10px;
}
.teaser h2 {
    font-size: 12px;
    color: white;
    background-color: #cc1511;
    padding: 3px;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.teaser p {
    line-height: 1.4em;
    margin-bottom: 10px;
}
.teaser p a {
    text-decoration: none;
    color:  #cc1511;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    background-image: url('../img/hg-mehr-link.png');
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: center right;
}
/* Nicht im Buch: Hier wird die Angabe von position generell auf den Teaser gelegt
   damit entfallen die Anweisungen in den Regeln für .teaser-mit-bild-links und .teaser-mit-bild-rechts */
.teaser section {
    position: relative;
}
.teaser-mit-bild-links section {
    padding-left: 170px;
} 
.teaser-mit-bild-links img {
    position: absolute;
    left: 10px;
    top: 10px;
}
.teaser-mit-bild-rechts img {
    position: absolute;
    right: 10px;
    top: 10px;
}
.teaser-mit-bild-rechts section {
    padding-right: 170px;
}  

/* Beitragsseiten */
#haupt-inhalt {
    width: 665px;
    padding: 15px;
    background-image: url('../img/hg-punkt.png');
    float: right;
}
#haupt-inhalt section,
#haupt-inhalt article {
    padding: 10px ;
    background-color: white;
    min-height: 200px;
}
#haupt-inhalt p, 
#haupt-inhalt blockquote, 
#haupt-inhalt ol, 
#haupt-inhalt ul {
    line-height: 1.6em;   
    max-width: 500px;
}
#haupt-inhalt article.beitrag {
    padding-left: 190px;
}
#haupt-inhalt article p  {
    padding-right: 20px;
}
#haupt-inhalt article p img {
    float: left;
    margin-left: -170px;
    margin-top: 5px;
}

/* Tabellen im Beitrag */
#haupt-inhalt article footer table {
    font-size: 11px;
}
#haupt-inhalt article footer caption {
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
}
#haupt-inhalt article footer table th {
    padding: 10px 0px 0px 0px;
    vertical-align: top;
}
#haupt-inhalt article footer table td {
    padding: 10px 10px 0px 0px;
    vertical-align: top;
}
#haupt-inhalt article footer table th {
    text-align: left;
    text-transform: uppercase;
    color: #666;
    font-weight: normal;
    min-width: 120px;
}
audio,
video {
    box-shadow: gray 5px 5px 5px;
    border-radius: 5px;
    width: 640px;
    margin-bottom: 25px;
}

/***************************
* Fuß
***************************/
#fuss-oben {
    background-color: #cc1511;
}
#fuss-oben,
#copyright {
    margin-top: 20px;
}
#druck {
    float: left;
}
#fuss nav.meta-navigation {
    float: right;
}
#copyright {
    background-image: url('../img/hg-punkt.png');
    padding: 15px;
}
#copyright p {
    background-color: #fff;
    margin: 0px;
    width: 170px;
    padding-left: 10px;
    font-size: 10px;
    text-transform: uppercase;     
}
